header{
background-color: rgb(4, 4, 112);
max-height: 55px;
position: static;
max-width: auto;
}

.publi{
 max-width: 98px;
  display:flex;
 padding-left: 70%;
}
#escudo{
	margin-top: 10px;
	max-width: 80px;
	float:left;

   }
img {
	max-width: 100%;
	max-height: 100%;
}
* {
	padding:0;
	margin:0;
}

* {
	margin:0px;
	padding:0px;
}


ul, ol {
	list-style:none;
}

.nav > li {
	float:left;
}

.nav li a {
	

	text-decoration:none;
	padding:10px 12px;
	display:block;
}

.nav li a:hover {
	border-bottom: solid;
}

.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	right:-140px;
	top:0px;
}
nav{
	padding-left: 20%;
}




ul, ol {
	list-style:none;
}

.primero > li {
	float:left;
}

.primero li a {
	

	text-decoration:none;
	padding:10px 12px;
	display:block;
}

.primero li a:hover {
	border-bottom: solid;
}

.primero li ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.primero li:hover > ul {
	display:block;
}

.primero li ul li {
	position:relative;
}

.primero li ul li ul {
	right:-140px;
	top:0px;
}
.primero{
	padding-left: 70%;
	display: flex;
}

P{
	font-size: 25px;
	font-family: 'IM Fell DW Pica', serif;
	color:black;
	display: flex;
	padding-top: 2%;
}